@tailwind base;
@tailwind components;
@tailwind utilities;

.team-color {
    color: var(--text-color);
}

.team-color:hover{
    color: var(--hover-color);
    background-color: var(--hover-bg-color);
}
